* {
    font-family: 'Russo One', sans-serif;
}

Content-Security-Policy: script-src 'self' https://a.plerdy.com; 

.description {
    font-family: 'Open Sans', sans-serif;
}

.scale-img:hover {
    transform: scale(1.05);
}

.scale-img {
    overflow: hidden;
    transition: 1s;
}

@media (min-width: 1001px) {
    .scale-img {
        height: 520px;
    }
}

@media (max-width: 1000px) {
    .scale-img {
        height: 420px;
    }
}

@media (max-width: 840px) {
    .scale-img {
        height: 370px;
    }
}

@media (max-width: 765px) {
    .scale-img {
        height: 320px;
    }
}

@media (max-width: 650px) {
    .scale-img {
        height: 280px;
    }
}

@media (max-width: 600px) {
    .scale-img {
        height: 230px;
    }
}
